
body {
    min-height: 100vh;
    margin: 0;
    font-family: roboto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-wrap: wrap;
    color: white;   
    justify-content: space-between;
    padding: 18px 10% 18px 10%;
    align-items: center;
    
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #3882F6;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}