
body {
    min-height: 100vh;
    margin: 0;
    font-family: roboto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;   
    justify-content: space-between;
    padding: 10px 20% 10px 20%;
    align-items: center;
    font-size: 24px;
    
}

.herobackground,
.infobackground,
.quotebackground,
.ctabackground {
    display: flex;
    flex-grow: 1 0 auto;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
    padding-top: 30px;

}


.quotebackground {
    background-color: #E5E7EB;

}

.ctabackground { 
    display: flex;
    flex-grow: 1 0 auto;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.header .logo {
    font-size: 24px;
    font-weight: 600;
}

.hero {
    display: flex;
    flex-grow: 1;
    gap: 18px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    }

.heroleft { 
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;

}

.heroright {
    flex: 1;
    border: 3px solid black ;
    ;
    
}

.random-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18px;
    font-size: 18px;
    text-align: center;
    
}

.random-info li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    text-align: center;
    flex: 1;
    max-width: 150px;

}

.random-info img {
    max-width: 150px;
    max-height: 150px;
    background-color: antiquewhite;
    border: 3px solid #3882F6;
    border-radius: 25px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18px;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;

}

.quote .quoteauthor {
    text-align: right;
    font-size: 18px;
    font-weight: 800;
}


.cta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18px;
    align-items: center;
}

.footer {
    flex-grow: 1;
    gap: 18px;
    text-align: center;
    padding: 18px;
    max-height: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

button {
    color: #3882F6;
}

.header,
.herobackground,
.footer {
    background-color: #1F2937;
    color: white;
    font-size: 15px;
}

.hero,
.random-info,
.quote,
.cta {
    margin-top: 40px;
    margin-bottom: 40px;

}