
body {
    min-height: 100vh;
    margin: 0;
    font-family: roboto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-wrap: wrap;
    color: white;   
    justify-content: space-between;
    padding: 18px 10% 18px 10%;
    align-items: center;
    
}

.hero {
    display: flex;
    flex-grow: 1;
    gap: 18px;
    justify-content: center
}

.quote {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18px;
    align-items: center;
    background-color: antiquewhite;
}

.cta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18px;
    align-items: center;
}

.footer {
    flex-grow: 1;
    gap: 18px;
    text-align: center;
    padding: 18px;
    max-height: 30px;
    }

.random-info {
    justify-items: center;
    flex-grow: 1;
}

.random-info li {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    text-align: center
    ;

}

.random-info img {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border: 3px solid #3882F6;
    border-radius: 25px;
    
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #3882F6;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: white
}